/.vs
/ApiMaterias.Aplicacion/obj
/ApiMaterias.Infraestructura/bin
/ApiMaterias.Infraestructura/obj
/ApiMaterias.Dominio/obj
/ApiMaterias/bin
/ApiMaterias/obj
/ApiMaterias.Aplicacion/bin
/ApiMaterias.Dominio/bin
